$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
$nf-blue: #003865;
$nf-red: #BA0C2F;
$nf-yellow: #FFD700;
$nf-green: #009B48;
$nf-white: #FFFFFF;
$nf-pink: #FF99CB;
$font-body: "SignikaNegative", serif;
$font-heading: "LilitaOne", sans-serif;