@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &-item {
        width: 100%;
        margin-bottom: 1rem;
        padding: 1rem;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        background-color: $nf-red;
    }

    &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    &-name {
        margin-bottom: 0.5rem;
        font-size: 1.5rem;
        font-weight: bold;
        color: #f8f8f8
    }

    &-image {
        width: 100%;
        border-radius: 10px;
    }

    @include tablet {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 85%;
        gap: 1.5rem;

        &-item {
            width: 48%;
            margin-bottom: 2rem;
            min-height: 300px;
        }

        &-content {
            gap: 1rem;
        }

        &-name {
            font-size: 1.75rem;
            overflow-wrap: break-word;
            word-break: break-word;
        }

        &-image {
            width: 75%;
            height: 200px;
            object-fit: cover;
        }
    }

    @include desktop {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 95%;
        gap: 1.75rem;

        &-item {
            width: 45%;
            margin-bottom: 1.5rem;
            min-height: 325px;
        }

        &-content {
            gap: 1.5rem;
        }

        &-name {
            font-size: 2.5rem;
            overflow-wrap: break-word;
            word-break: break-word;
        }

        &-image {
            width: 85%;
            object-fit: cover;
        }
    }
}