@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.guidebook {
    margin: 0 0.5rem;
    background-color: #f8f8f8;

    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        &__title {
            font-size: 2rem;
            font-weight: 300;
            color: #555555;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        &__subhead {
            font-size: 1.25rem;
            font-weight: 300;
            color: #555555;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        }

        &__image {
            width: 100%;
        }

        &__text {
            font-size: 1rem;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
            margin-bottom: 1rem;
        }
    }

    @include tablet {
        margin: 0;

        &-section {
            gap: 1.5rem;

            &__title {
                font-size: 3rem;
            }

            &__subhead {
                font-size: 1.5rem;
                font-weight: 300;
            }

            &__image {
                width: 50%;
            }

            &__text {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;
            }
        }

    }

    @include desktop {
        padding: 1rem;

        &-section {
            gap: 1.75rem;

            &__title {
                font-size: 4.5rem;
            }

            &__subhead {
                font-size: 2rem;
            }

            &__image {
                width: 60%;
            }

            &__text {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
        }

    }

    &-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        overflow-y: auto;
        gap: 1rem;

        &__input,
        &__area {
            padding: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 8px;
            font-size: 1rem;
            outline: none;
            transition: border-color 0.2s ease-in-out;
            width: 100%;
        }

        &__input {
            height: 2.5rem;
        }

        &__area {
            height: 4.5rem;
            resize: vertical;
            margin-bottom: 2rem;
        }

        &__input:focus,
        &__area:focus {
            border-color: $nf-green;
        }

        &__button {
            position: relative;
            align-self: center;
            width: 75%;
            height: 3.5rem;
            font-size: 1rem;
            background-color: #f8f8f8;
            padding: 10px 20px;
            border: 2px solid #ccc;
            border-radius: 8px;
        }

        @include tablet {
            padding: 1rem;
            margin-bottom: 5rem;
            width: 75%;

            &__input {
                height: 3rem;
                margin-bottom: 1rem;
            }

            &__area {
                height: 5rem;
            }

            &__button {
                width: 60%;
                height: 4rem;
                font-size: 1.25rem;
                border-radius: 10px;
            }
        }

        @include desktop {
            padding: 2.5rem;
            width: 60%;

            &__input {
                height: 3.5rem;
                margin-bottom: 1rem;
            }

            &__area {
                height: 6rem;
            }

            &__button {
                width: 50%;
                height: 4.5rem;
                font-size: 1.5rem;
                border-radius: 12px;
            }
        }
    }

    &-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;

        @include tablet {
            gap: 0.25rem;
        }

        @include desktop {
            gap: 0.75rem;
        }
    }

    label {
        margin-bottom: 0.25rem;
        font-weight: bold;

        @include tablet {
            font-size: 1.2rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }
    }
}

.comments-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;

    &__list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
        width: 75%;
    }

    &__title {
        color: #555555;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        font-size: 1.5rem;
        font-weight: 300;
    }

    @include tablet {
        padding-bottom: 1rem;

        &__list {
            width: 50%
        }

        &__title {
            font-size: 2rem;
        }
    }

    @include desktop {
        padding-bottom: 2rem;

        &__list {
            width: 40%
        }

        &__title {
            font-size: 3rem;
        }
    }
}

.comment {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    margin: 1rem 1rem;
    border: 2px solid #555555;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        margin-bottom: 0.5rem;
    }

    &-name,
    &-location {
        text-align: center;
        color: #555555;
        font-size: 1.25rem;
        font-weight: 500;
    }

    &-from {
        font-weight: 500;
        color: #555555;
        font-size: 1.25rem;
    }

    &-text {
        font-size: 1.2rem;
        font-weight: 300;
        color: #555555;
        text-align: center;
        line-height: 1.5;
    }

    @include tablet {
        max-width: 800px;

        &-container {
            margin-bottom: 0.75rem;
        }

        &-name,
        &-location {
            font-size: 1.5rem;
            font-weight: 300;
        }

        &-from {
            font-weight: 300;
            font-size: 1.5rem;
        }

        &-text {
            font-size: 1.25rem;
            line-height: 1.8;
        }
    }

    @include desktop {
        max-width: 1025px;

        &-container {
            margin-bottom: 1rem;
        }

        &-name,
        &-location {
            font-size: 2rem;
            font-weight: 700;
        }

        &-from {
            font-weight: 700;
            font-size: 2rem;
        }

        &-text {
            font-size: 1.5rem;
            line-height: 2;
            font-weight: 500;
        }
    }
}